* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.about {
  background: radial-gradient(#9e9e9e, #e2e2e2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  min-height: calc(100% - 160px);

  > .img-wrapper {
    margin: auto;
    padding: 30px;
    width: 75%;
    
    > img {
      background-color: #fff;
      border-radius: 7px;
      box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.33);
      width: 100%;
    }
  }

  > .content {
    margin: auto;
    padding: 30px;
    width: 100%;

    > p {
      color: #040404;
      text-align: justify;
    }
  }
}

footer {
  > i {
    margin-right: 10px;
  }
}
