body {
  margin: 0;
  height: 100vh;
}

.about {
  height: calc(100% - 160px);
  background: #9e9e9e;
}

footer {
  position: relative;
  height: 80px;
  background-color: rgb(199, 194, 114);
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 30px;
    height: 30px;
  }
}
