* {
  box-sizing: border-box;
}

@mixin appointment-button {
  background-color: rgb(199, 194, 114);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;

  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
  }
}

.home {
  background: radial-gradient(rgb(199, 194, 114), rgb(234, 230, 168));
  color: #7e7f7f;
  font-family: 'Montserrat', sans-serif;
  height: calc(100% - 80px);

  .showcase {
    align-items: flex-start;
    background-attachment: fixed;
    background-image: url('../img/tooth.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 100px 50px;
    width: 100%;

    > h2 {
      font-size: 30px;
      font-weight: bold;
    }

    .info {
      grid-column: 1/3;
      grid-row: 3/5;

      > h3 {
        margin-bottom: 40px;
        position: relative;

        &::after {
          background-color: rgb(199, 194, 114);
          bottom: -5px;
          content: '';
          height: 2px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }

      a {
        @include appointment-button;
      }
    }
  }

  .treatments {
    align-items: center;
    background: #333233;
    display: flex;
    flex-direction: column;
    min-height: 390px;
    padding-top: 40px;

    > h2 {
      color: rgb(199, 194, 114);
      margin: 20px 0 50px;
    }

    > .cards {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      padding: 0 40px;
      width: 100%;

      > .card {
        background: #fff;
        border-radius: 15px;
        min-height: 200px;
        text-align: center;
        width: 100%;
        
        > img {
          border-radius: 15px 15px 0 0;
          height: 100px;
          object-fit: cover;
          width: 100%;
        }
  
        > h4 {
          font-weight: bold;
        }
        
        > p {
          margin: 20px;
        }
      }
    }
  }

  .contact {
    align-items: center;
    background: #333233;
    display: flex;
    flex-direction: column;
    min-height: 360px;
    padding-top: 40px;

    > h2 {
      color: rgb(199, 194, 114);
      margin: 20px 0;
    }

    > .form-wrapper {
      width: 100%;

      > form {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        overflow: hidden;
        padding: 10px 40px 40px;

        > .form-side {
          min-height: 180px;

          > .wrapper-input {
            height: 50px;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;

            > input,
            label,
            select {
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }

            > input {
              background: transparent;
              border: none;
              color: #fff;
              font-size: 14px;
              outline: none;
              padding-top: 20px;
            }

            > select {
              background: transparent;
              border: none;
              color: #7e7f7f;
              font-size: 14px;
              height: 20px;
              left: -6px;
              margin-top: 26px;
              outline: none;
              position: relative;
            }

            > label {
              border-bottom: 1px solid #000;
              pointer-events: none;
              
              &::after {
                border-bottom: 3px solid rgb(199, 194, 114);
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                transform: translateX(-100%);
                transition: all 0.5s ease;
                width: 100%;
              }

              > .content-input {
                bottom: 5px;
                left: 0;
                position: absolute;
                transition: all 0.3s ease;
              }
            }

            > #treatment-label {
              border-bottom: 3px solid rgb(199, 194, 114);
            }

            > input:focus + label .content-input,
            input:valid + label .content-input {
              color: rgb(199, 194, 114);
              font-size: 14px;
              transform: translateY(-150%);
            }

            > input:focus + label::after,
            input:valid + label::after {
              transform: translateX(0%);
            }
          }

          > .wrapper-textarea {
            margin-bottom: 10px;
            min-height: 170px;
            overflow: hidden;
            position: relative;

            > textarea,
            label,
            select {
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }

            > textarea {
              background: transparent;
              border: none;
              color: #fff;
              font-size: 14px;
              outline: none;
              padding-top: 25px;
            }

            > label {
              border-bottom: 1px solid #000;
              pointer-events: none;
              
              &::after {
                border-bottom: 3px solid rgb(199, 194, 114);
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                transform: translateX(-100%);
                transition: all 0.5s ease;
                width: 100%;
              }

              > .content-input {
                bottom: 5px;
                left: 0;
                position: absolute;
                transition: all 0.3s ease;
              }
            }


            > textarea:focus + label .content-input,
            textarea:valid + label .content-input {
              color: rgb(199, 194, 114);
              font-size: 14px;
              transform: translateY(-900%);
            }

            > textarea:focus + label::after,
            textarea:valid + label::after {
              transform: translateX(0%);
            }
          }
        }
      }
    }
  }

  
  > footer {
    > i {
      margin-right: 10px;
    }
  }
}
