* {
  box-sizing : border-box;
}

@mixin appointment-button {
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(199, 194, 114);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
  }
}

.home {
  background: radial-gradient(rgb(199, 194, 114), rgb(234, 230, 168));
  color: #7E7F7F;
  height: calc(100% - 80px);
  font-family: 'Montserrat', sans-serif;

  .showcase {
    background-image: url("../img/tooth.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);

    > h2 {
      font-size: 30px;
      font-weight: bold;
      grid-column: 1/4;
      grid-row: 2/4;
      align-self: center;
      justify-self: center;
    }

    .info {
      grid-column: 1/3;
      grid-row: 3/5;
      align-self: center;
      justify-self: flex-end;

      > h3 {
        position: relative;
        margin-bottom: 40px;

        &::after {
          position: absolute;
          bottom: -5px;
          left: 0;
          content: '';
          height: 2px;
          width: 100%;
          background-color: rgb(199, 194, 114);
        }
      }

      a {
        @include appointment-button;
      }
    }
  }

  .treatments {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333233;
    min-height: 390px;
    padding-top: 40px;

    > h2 {
      margin: 20px 0 50px 0;
      color:rgb(199, 194, 114);
    }

    > .cards {
      display: flex;
      justify-content: space-around;

      > .card {
        background: white;
        width: 23%;
        min-height: 200px;
        text-align: center;
        border-radius: 15px;
        
        > img {
          border-radius: 15px 15px 0 0;
          width: 100%;
          height: 100px;
          object-fit: cover;
        }
  
        > h4 {
          font-weight: bold;
        }
        
        > p {
          margin: 20px;
        }
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333233;
    min-height: 360px;
    padding-top: 40px;

    > h2 {
      margin: 20px 0;
      color:rgb(199, 194, 114);
    }

    > .form-wrapper {
      width: 100%;

      > form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 40px;
        padding: 10px 40px 40px;
        overflow: hidden;

        > .form-side {
          min-height: 180px;

          > .wrapper-input {
            position: relative;
            height: 50px;
            margin-bottom: 10px;
            overflow: hidden;

            > input, label, select {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            > input {
              padding-top: 20px;
              border: none;
              background: transparent;
              outline: none;
              color:white;
              font-size: 14px;
            }

            > select {
              position: relative;
              margin-top: 26px;
              height: 20px;
              left: -6px;
              border: none;
              background: transparent;
              outline: none;
              color:#7E7F7F;
              font-size: 14px;
            }

            > label {
              pointer-events: none;
              border-bottom: 1px solid black;
              
              &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                border-bottom: 3px solid rgb(199, 194, 114);
                transform: translateX(-100%);
                transition: all 0.5s ease;
              }

              > .content-input {
                position: absolute;
                left: 0;
                bottom: 5px;
                transition: all 0.3s ease;
              }
            }

            > #treatment-label {
              border-bottom: 3px solid rgb(199, 194, 114);
            }

            > input:focus + label .content-input, input:valid + label .content-input {
              transform: translateY(-150%);
              font-size: 14px;
              color: rgb(199, 194, 114);
            }

            > input:focus + label:after, input:valid + label:after {
              transform: translateX(0%);
            }
          }

          > .wrapper-textarea {
            position: relative;
            min-height: 170px;
            margin-bottom: 10px;
            overflow: hidden;

            > textarea, label, select {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            > textarea {
              padding-top: 25px;
              border: none;
              background: transparent;
              outline: none;
              color:white;
              font-size: 14px;
            }

            > label {
              pointer-events: none;
              border-bottom: 1px solid black;
              
              &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                border-bottom: 3px solid rgb(199, 194, 114);
                transform: translateX(-100%);
                transition: all 0.5s ease;
              }

              > .content-input {
                position: absolute;
                left: 0;
                bottom: 5px;
                transition: all 0.3s ease;
              }
            }


            > textarea:focus + label .content-input, textarea:valid + label .content-input {
              transform: translateY(-900%);
              font-size: 14px;
              color: rgb(199, 194, 114);
            }

            > textarea:focus + label:after, textarea:valid + label:after {
              transform: translateX(0%);
            }
          }
        }
      }
    }
  }

  
  > footer {
    > i {
      margin-right: 10px;
    }
  }
}
